* {
  box-sizing: border-box;
}


body {
  background-color: #002a35;
  color: #839496;
}
.fork-me {
  background-color: #D3EF36;
  display: inline-block;
  text-decoration: none;
  padding: 10px 50px;
  position: absolute;
  top: 40px;
  left: -50px;
  transform: rotateZ(-45deg);
  font-family: arial, sans-serif;
  font-weight: bold;
  box-shadow: 4px 4px 10px #5D5C5C;
  transition: all 0.8s;
  color: #000;
  /*outline: #271212 solid thin;*/
}
.fork-me::before,
.fork-me::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  height: 1px;
  background: #000;
}
.fork-me::after{
  bottom: 1px;
  top: auto;
}

.fork-me:hover {
  color: #fff;
  background-color: #19B678;
  text-shadow: 4px 4px 12px #000
}


header {
  background: rgba( 0, 0, 0, 0.8);
  padding: 0 12.5%;
}
header ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}
header ul a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: #2aa198;
  transition: all 0.5s;
}
header ul a:hover {
  background-color: #0DBBA1;
  text-shadow: 2px 2px 4px #5D5C5C;
  color: #fff;
}
@media all and (max-width: 768px) {
  header ul {
    justify-content: space-around;
  }
}
@media all and (max-width: 600px) {
  header {
    padding: 0;
  }
  header ul {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
   header ul a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }
  header ul li:last-of-type a {
    border-bottom: none;
  }
}  

.nav-container {
/*  background-color: #FDFBFB;*/
  margin: 0 12.5%;
}
.nav-container a {
  color: #2aa198;
}
.nav-container a:hover {
  color: #05FEF1;
/*  background-color: #5E1CD1;*/
}
.nav-item h1 {
  margin: 0;
  padding: 30px 0;
  font-weight: 500;
}
.nav-container .nav-item {
  width: 100%;
  padding: 1em;
}
.nav-item  .links {
  
}
.nav-item  .links div {
  /*background-color: #6611C1;*/
  margin: 35px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-bottom: 1px solid #021724;

}
.links h2 {
  margin: 0;
  padding: 5px 15px;
  background-color: #0c94e3;
  width: auto;
  color: white;
  font-size: 1.2em;
  /* padding-right: 2em; */
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
   font-weight: 500; 
}
.nav-item  div a {
  background-color: #999;
  padding: 10px 15px;
  background-color: #08D69A;
  background-color: transparent;
  text-decoration: none;
  /*margin: 0 10px;*/
  text-align: center;

  /*line-height: 20px;*/
}
.nav-item  div a:hover {
  /*background-color: #F2E64D;*/
  
}


footer {
  background-color: #002a35;
  text-align: center;
  margin: 0;
  padding: 5px;
  border-top: 1px solid #999;
  /*display: flex;*/
}

footer a {
  text-decoration: none;
  font-size: 20px;
}

@media all and (max-width: 600px) {
  .nav-item h1 {
    font-size: 1.5em;
  }
  .nav-item h2 {
    font-size: 1.3em;
  }
  .nav-container {
    margin: 0 0;
    padding: 0 2em;
  }
}
